<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.hattonky.inventory">

    <!-- Permission Declarations -->
    <uses-feature
        android:name="android.hardware.camera"
        android:required="false" />
    <uses-permission android:name="android.permission.CAMERA" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_icon2"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_icon2_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Inventory">

        <!-- Main Activity -->
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!-- Add/Edit Item Activity -->
        <activity
            android:name=".activities.AddEditItemActivity"
            android:exported="false" />

        <!-- Camera Activity -->
        <activity
            android:name=".activities.CameraActivity"
            android:exported="false" />



        <!-- Add other activities if needed -->

        <activity
            android:name=".activities.AddCategoryActivity"
            android:exported="false"/>

        <activity
            android:name=".activities.ImageGalleryActivity"
            android:exported="false"/>

    </application>

</manifest>